.hero-section {
  height: 100vh;
  background-color: #001f3f; /* azul marino */
  color: white;
  padding-top: 80px;
  display: flex;
  align-items: center;
}

.bidon-img {
  max-width: 300px;
  animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

