/* Asegura que el hero ocupe el 100% de la pantalla */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hero principal */
.hero-section {
  height: 100vh;
  width: 100vw; /* aseguramos que ocupe todo el ancho de la ventana */
  background-color: #456a94; /* azul marino */
  color: white;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding-top: 80px;
}

/* Asegura que el contenido se centre verticalmente dentro del container */
.hero-section .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Imagen animada */
.bidon-img {
  max-width: 100%;
  max-height: 300px;
  animation: flotar 3s ease-in-out infinite;
}

/* Animación flotante */
@keyframes flotar {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* detrás del contenido */
}

.hero-section {
  position: relative;  /* necesario para que el video quede atrás */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.contenido-hero {
  position: relative;
  z-index: 1; /* contenido encima del video */
}