/* Asegura que el login ocupe toda la pantalla */
html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  /* Fondo azul marino centrado */
.login-bg {
  height: 100vh;
  width: 100vw;
background: none;
  background-size: cover;        /* Que cubra toda la pantalla */
  background-position: center;   /* Centrada */
  background-repeat: no-repeat;  /* No se repita */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

  /* Contenedor del formulario */
  .login-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 30px 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .boton-registro {
   background-color:#0073e6;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
